- if @top3.count == 3
  %h3 The Most Popular Articles
  .row
    .span12
      %ul.thumbnails
        - @top3.each do |article| 
          %li.span4
            .thumbnail
              %p.top3
                = link_to image_tag(article.image.url(:thumb), class: "pic"), blog_path(article)
              = link_to article.title, blog_path(article)
              %p= "Viewed #{pluralize(article.views, 'time')}"
          
%h3 Recent Articles

.row
  .span12
    %ul.thumbnails
      - @articles.each do |article|
        %li.span4
          .thumbnail
            %p.top3
              = link_to image_tag(article.image.url(:thumb), class: "pic"), blog_path(article)
            = link_to article.title, blog_path(article)
            %p= "Viewed #{pluralize(article.views, 'time')}"