=provide :title, "Portfolio"

- @portfolio_items.each do |item|
  .row
    %hr.featurette-divider
    .featurette
      = image_tag item.portfolio_image_url(:thumb).to_s, class: "featurette-image pull-right portfolio-img"
      %h2.featurette-heading.text-left= item.title
      %p.lead= item.description
      = link_to "view source code", item.github, class: "btn btn-inverse"
      = link_to "view site", item.link, class: "btn btn-inverse"
