.row
  %hr.featurette-divider
  .featurette
    = image_tag @item.portfolio_image_url, class: "featurette-image pull-right", style: "height:200px; width:300px"
    %h2.featurette-heading.text-left= @item.title
    %p.lead= @item.description
    = link_to "view source code", @item.github, class: "btn btn-inverse"
    = link_to "view site", @item.link, class: "btn btn-inverse"
    = link_to 'Edit', edit_portfolio_item_path(@item), class: "btn btn-inverse"
    = link_to 'Back', portfolio_items_path, class: "btn btn-inverse"



