<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @portfolio_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @portfolio_item.description %>
</p>

<p>
  <b>Link:</b>
  <%= @portfolio_item.link %>
</p>

<p>
  <b>Github:</b>
  <%= @portfolio_item.github %>
</p>


<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
