.navbar
  .navbar-inner
    .brand= link_to "Donald on Rails", root_path, id: "logo"
    %nav
      %ul.nav.pull-right
        %li= link_to "About", about_path
        %li= link_to "Portfolio", portfolio_items_path
        %li= link_to "Blog", '#' 
        %li= link_to "Contact", contact_path
        - if admin_signed_in?
          %li= link_to "Logged in as #{current_admin.email}. Logout?", destroy_admin_session_path, method: :delete
          %li= link_to 'Edit profile', edit_admin_registration_path 